.login-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: solid 1px #DDD;
  border-left: solid 1px #333;
}

.form-control,
.btn,
.jumbotron{
  border-radius: 0 !important;
}

label {
    display: inline-block;
    margin-bottom: 0;
    font-size: 0.8rem;
    font-weight: bold;
}
.alert{
  border: 0;
  border-radius: 0;
}

.lined-text{
  text-align: center;
    margin-top: 1rem;
    margin-bottom: 2.3rem;
    border-bottom: solid 1px #BBB;
    color: #666;
}
.lined-text span{
  position: relative;
  bottom: -0.7rem;
  padding: 0.5rem;
  background: #e9ecef;
  text-transform: uppercase;
}
